<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">

		<link href="{% static 'themes/css/bootstrappage.css' %}" rel="stylesheet"/>

		<!-- global styles -->
		<link href="{% static 'themes/css/flexslider.css' %}" rel="stylesheet"/>
		<link href="{% static 'themes/css/main.css' %}" rel="stylesheet"/>

		<!-- scripts -->
		<script src="{% static 'themes/js/jquery-1.7.2.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'themes/js/superfish.js' %}"></script>
		<script src="{% static 'themes/js/jquery.scrolltotop.js' %}"></script>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="{% static 'js/respond.min.js' %}"></script>
		<![endif]-->
	</head>
    <body>
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="eg. T-sirt">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">
							{% if request.session.username %}
							<li><a href="#">Welcome {{request.session.username}}</a></li>
							 {% endif %}
							<li><a href="">Your Cart</a></li>
							<li><a href="{% url 'reglog' %}">Login</a></li>
							<li><a href="{% url 'logout' %}">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">
					<a href="index.html" class="logo pull-left"><img src="{% static 'themes/images/logo.png' %}" class="site_logo" alt=""></a>
					<nav id="menu" class="pull-right">
						<ul>
<!--							<li><a href="./products.html">Woman</a>-->
<!--								<ul>-->
<!--									<li><a href="./products.html">Lacinia nibh</a></li>-->
<!--									<li><a href="./products.html">Eget molestie</a></li>-->
<!--									<li><a href="./products.html">Varius purus</a></li>-->
<!--								</ul>-->
<!--							</li>-->
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="% url 'catdetails' %}">Categories</a>
								<ul class="dropdown-menu">

									{% for d in da %}
									<a class="dropdown-item" href="{% url 'discategory' itemCatg=d.cname %}">{{ d.cname }}</a>
									{% endfor %}
								</ul>
							</li>
							<li><a href="{% url 'products' %}">Product</a></li>

							<li><a href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</nav>
				</div>
			</section>
			<section class="header_text sub">
				<img class="pageBanner" src="{% static 'themes/images/pageBanner.png' %}" alt="New products" >
<!--				<h4><span>New products</span></h4>-->
			</section>
			<section class="header_text">

			<section class="main-content">
				<div class="row">
					<div class="span9">
						<h4 class="title"><span class="text"><strong>Your</strong> Cart</span></h4>
						<table class="table table-striped">
							<thead>
								<tr>

									<th>Image</th>
									<th>Product Name</th>
									<th>Quantity</th>
									<th>Total Price</th>
									<th>Size</th>
								</tr>
							</thead>

							<tbody>
							{% for d in data %}
							     <tr>
									<td>
									<a><img src="{{ d.image.url }}" width="100px" height="100px"></a>
									</td>
									<td>{{d.name}}</td>
									<td>{{d.quantity}}</td>
									<td>{{d.totalprice}}</td>
									<td>{{d.size}}</td>
								</tr>
							{% endfor %}
							</tbody>

						</table>


<!--						<p class="buttons center">-->
<!--							<button class="btn" type="button">Update</button>-->
<!--							<button class="btn" type="button">Continue</button>-->
<!--							<button class="btn btn-inverse" type="submit" id="checkout">Checkout</button>-->
<!--						</p>-->
					</div>
					<div class="span3 col">
						<div class="block">
							<ul class="nav nav-list">
								<li class="nav-header">SUB CATEGORIES</li>
								<li><a href="products.html">Nullam semper elementum</a></li>
								<li class="active"><a href="products.html">Phasellus ultricies</a></li>
								<li><a href="products.html">Donec laoreet dui</a></li>
								<li><a href="products.html">Nullam semper elementum</a></li>
								<li><a href="products.html">Phasellus ultricies</a></li>
								<li><a href="products.html">Donec laoreet dui</a></li>
							</ul>
							<br/>
							<ul class="nav nav-list below">
								<li class="nav-header">MANUFACTURES</li>
								<li><a href="products.html">Adidas</a></li>
								<li><a href="products.html">Nike</a></li>
								<li><a href="products.html">Dunlop</a></li>
								<li><a href="products.html">Yamaha</a></li>
							</ul>
						</div>
						<div class="block">
							<h4 class="title">
								<span class="pull-left"><span class="text">Randomize</span></span>
								<span class="pull-right">
									<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
								</span>
							</h4>
							<div id="myCarousel" class="carousel slide">
								<div class="carousel-inner">
									<div class="active item">
										<ul class="thumbnails listing-products">
											<li class="span3">
												<div class="product-box">
													<span class="sale_tag"></span>
													<a href="product_detail.html"><img alt="" src="themes/images/ladies/2.jpg"></a><br/>
													<a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
													<a href="#" class="category">Suspendisse aliquet</a>
													<p class="price">$261</p>
												</div>
											</li>
										</ul>
									</div>
									<div class="item">
										<ul class="thumbnails listing-products">
											<li class="span3">
												<div class="product-box">
													<a href="product_detail.html"><img alt="" src="themes/images/ladies/4.jpg"></a><br/>
													<a href="product_detail.html" class="title">Tempor sem sodales</a><br/>
													<a href="#" class="category">Urna nec lectus mollis</a>
													<p class="price">$134</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			</section>

			<section class="our_client">
				<h4 class="title"><span class="text">Manufactures</span></h4>
				<div class="row">
					<div class="span2">
						<a href="#"><img alt="" src="{% static 'themes/images/clients/14.png' %}"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="{% static 'themes/images/clients/35.png' %}"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="{% static 'themes/images/clients/1.png' %}"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="{% static 'themes/images/clients/2.png' %}"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="{% static 'themes/images/clients/3.png' %}"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="{% static 'themes/images/clients/4.png' %}"></a>
					</div>
				</div>
			</section>
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="./index.html">Homepage</a></li>
							<li><a href="./about.html">About Us</a></li>
							<li><a href="./contact.html">Contac Us</a></li>
							<li><a href="./cart.html">Your Cart</a></li>
							<li><a href="./register.html">Login</a></li>
						</ul>
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="#">My Account</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="#">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="{% static 'themes/images/logo.png' %}" class="site_logo" alt=""></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>
				</div>
			</section>
			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
		</div>
		<script src="{% static 'themes/js/common.js' %}"></script>
		<script src="{% static 'themes/js/jquery.flexslider-min.js' %}"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>